<nav class="navigaton-bar container" style="max-width: 100%">
  <section class="logo-section">
    <img src="assets/icon/icon.png" />
    <span>CreToFit Concept Ltd</span>
  </section>
  <section class="link-section">
    <ul>
      <li><a class="link" href="#about-us">About Us</a></li>
      <li><a class="link" href="#portfolio">Portfolio</a></li>
      <li><a class="link" href="#contact-us">Contact Us</a></li>
      <li>
        <a
          class="link-button"
          [routerLink]="['/shop']"
          routerLinkActive="router-link-active"
          mat-raised-button
          color="warn"
          >Shop</a
        >
      </li>
    </ul>
  </section>
</nav>
