<section class="app-wrapper app-container">
  <div class="landing-image">
    <img src="assets/living-room/hero.jpeg" />
    <!-- <video id="heroVideo" src="assets/living-room/hero.mp4" loop autoplay muted></video> -->
    <div class="overlay">
      <h3>SIMPLICITY IS KEY</h3>
      <span>We focus on building client relationships like no other, offering design solutions based
        on the client’s taste. <br> Our products range uniquely from handcrafted furniture, to finely imported interior
        design materials to suit your taste. <b> It Begins with A Shopping List!</b>
      </span>
      <div class="mt-3">
        <button class="mr-4" mat-raised-button color="warn">SHOP NOW</button>
        <button class="stroked-border" mat-stroked-button color="accent">
          LEARN MORE
        </button>
      </div>
    </div>
  </div>
  <div id="about-us" class="container">
    <div class="row justify-content-center my-4">
      <span class="section-header">About Us</span>
    </div>
    <div class="row mx-5">
      <div class="col-md-4 col-sm-12">
        <div class="card-info py-2 px-2">
          <div class="container">
            <div class="row justify-content-center">
              <img src="assets/icon/armchair.png" width="50px" height="50px" alt="">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span>INTERIOR DESIGN</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body">
                  <span>Our interiors are a collaboration of design, art humor, irony, and functionality. We design your
                    space around emotional needs, ensuring to understand your needs first while keeping you focused on
                    the things most important to you.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card-info py-2 px-2">
          <div class="container">
            <div class="row justify-content-center">
              <img src="assets/icon/interior-design.png" width="50px" height="50px" alt="">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span>SPACE PLANING</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body">
                  <span>This service entails allocating and dividing your space to best fit project needs. Our goal here
                    is to help plan spaces with optimal relationships and layouts that are not only well organized for
                    workflows and circulation, but also ideally flexible for multiple uses.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card-info py-2 px-2">
          <div class="container">
            <div class="row justify-content-center">
              <img src="assets/icon/truck.png" width="50px" height="50px" alt="">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span>HOME DELIVERY</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body">
                  <span>Regardless of your location nationwide, we are in the business of reaching your needs optimally.
                    That's why we go the extra mile to convey down to your doorstep. No stress! Simply make an order via
                    our online store, and we will deliver to your location. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5 py-3 p-vision">
      <div class="col-md-6 col-sm-12">
        <div class="about-header">
          <span>Our Vision</span>
        </div>
        <p class="py-2">
          Our vision is to be a reputable, sustainable, desirable Timeless and Creative interior design company in the
          global market that provides innovative and superior quality design finishing services for customer
          satisfaction.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-header">
          <span>Our Misison</span>
        </div>
        <p class="py-2">
          To shape spaces with “timeless designs” and to be a globally recognized professional interior design company
          that provides solutions in the interiors industry.
        </p>
      </div>
    </div>
  </div>
  <section id="portfolio" class="container-fluid portfolio-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-6 h-100 px-0 py-4 portfolio-leftside">
        <div class="row py-2">
          <div class="col-md-2"></div>
          <div class="col-md-8 px-3">
            <h3 class="ht-title">Portfolio</h3>
            <span style="text-align: left">We design and create spaces from residential homes to office spaces with a
              focus on functionality and aesthetic appeal.</span>
          </div>
        </div>
        <div class="px-4 py-3">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/apartment/apartment.png" />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/chair/kitchen.jpeg" />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/interior/interior.jpeg" />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/living-room/livingroom.jpeg" />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/wooden/wooden.jpg" />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4 mt-2">
              <img class="home-portfolio-images" src="assets/Video.jpg" />
            </div>
          </div>
          <!-- <div class="row mt-2">
            <div class="col-md-6 col-sm-12 col-lg-4">
              <img
                class="home-portfolio-images"
                src="assets/living-room/livingroom.png"
              />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <img
                class="home-portfolio-images"
                src="assets/wooden/wooden.png"
              />
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <img class="home-portfolio-images" src="assets/Video.png" />
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-6 px-0 portfolio-single-image" style="
          background-image: url(assets/Image/image.jpeg);
          background-size: cover;
          background-position: center;
        ">
        <!-- <div class="h-100"></div> -->
        <!-- <img src="" /> -->
      </div>
    </div>
  </section>
  <section class="container-fluid testimonial-wrapper" style="background-image: url(assets/living-room/hero2.png)">
    <div class="overlay py-4">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2 style="color: #fff; font-size: 30px">Testimonial</h2>
        </div>
      </div>
      <div class="row">
        <div class="card-info py-2 px-2" style="width: 250px">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bg-circle" style="
              background-image: url(assets/testimonials/client1.jpg);
              background-size: cover;
              background-position: center;
              "></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span style="font-weight: 600;">Engr. Alset Ovie Eti</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body" style="height: 200px;">
                  <span>100% credit for CreToFit Concept Interiors services. They always come through with the
                    best.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-info active py-2 px-2" style="width: 250px">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bg-circle" style="
              background-image: url(assets/testimonials/profile.png);
              background-size: cover;
              background-position: center;
              "></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span style="font-weight: 600;">Mr & Mrs Michael Ogboru</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body">
                  <span>I purchased a house and was looking for quality furniture. Cretofit was recommended by a friend
                    and after several meetings with them giving detailed explanation of the look I wanted in my home,
                    they came through. From the chairs, dinning set, beds, tv consoles and Art works, my expectations
                    were met and even more.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-info py-2 px-2" style="width: 250px">
          <div class="container">
            <div class="row justify-content-center">
              <div class="bg-circle" style="
                background-image: url(assets/testimonials/client3.jpeg);
                background-size: cover;
                background-position: center;
                "></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-title">
                  <span style="font-weight: 600;">Mr Best</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="about-body">
                  <span>Thank you CreTofit Concept Interiors, you guys did a beautiful job in my house. Everytime I see that job,
                    I’m moved to say God bless you guys for your hard work in putting together the best for your
                    client.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact-us" class="container-fluid contact-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-6">
          <div class="d-flex flex-column h-100 justify-content-center">
            <div class="row">
              <div class="col-md-12">
                <h2 style="
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: Quicksand, sans-serif;
                  ">
                  Contact Us
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p style="font-size: 20px; font-weight: 600; font-family: Quicksand, sans-serif">Cretofit Interiors</p>
                <p style="font-size: 16px; font-family: Quicksand, sans-serif">
                  Cretofit Interiors Showroom, No. 1 Bashiru Olusesi Avenue, Off Chevron Alternative Road by Tipper
                  Garrage, Lekki-Lagos.
                </p>
                <p style="font-size: 16px; font-family: Quicksand, sans-serif">0708 644 7310 <br> 0803 305 1752</p>
                <p style="font-size: 16px; font-family: Quicksand, sans-serif">cretofitinteriors@gmail.com</p>
                <p style="font-size: 16px; font-family: Quicksand, sans-serif; font-weight: 600; color: #ea6336;" >Follow us on social media</p> 
                <a href="https://www.instagram.com/cretofit_interiors/" target="_blank">
                  <img src="assets/icon/instagram.png" alt="cretofit interiors instagram"
                  style="background-color: #ea6336; width: 30px; height: 30px; border-radius: 50%; padding: 5px;">
                </a>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- <h2
                  style="
                    font-size: 20px;
                    font-weight: bold;
                    font-family: Quicksand, sans-serif;
                  "
                >
                  Address
                </h2> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-6">
          <form>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <label>Name</label>
                  <input placeholder="Your Name" class="" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Email</label>
                  <input placeholder="youremail@mail.com" type="email" class="" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Subject</label>
                  <textarea placeholder="Type something" class=""></textarea>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-12">
                  <button type="submit" mat-flat-button color="warn">
                    Submit
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.615623192468!2d3.5373437140938484!3d6.443375725878878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf6fe0acae93f%3A0x6223d1e8fbb534d0!2sCretofit%20Interiors!5e0!3m2!1sen!2sng!4v1620401177031!5m2!1sen!2sng"
      width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </section>
</section>
